body{
    padding: 0px ;
    margin: 0px ;  
}

.container{
  
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;


    top: 0px ;
    left: 0px  ;

    height: 30rem ;
    width: 20rem ;
    
    background-color: darkgrey ;
    color: white;
}

.items{

    background-color: black ;
    height: 10rem ;
    width: 10rem ;


}
