@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #202020;
    --default-font-family: Roboto, Sans;
}

* {
    margin: 0px;
    padding: 0px;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 3vh;

}

.page-heading {
    align-content: center;
    text-decoration: none;
    color: var(--black);

    font-family: var(--default-font-family);
    font-weight: 600;
    letter-spacing: 0.8vw;
}

.icons {
    /* border: 1px solid yellow ; */
    padding: 8px;
}


.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 50vw;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;

    background-color: whitesmoke;
}

.sidebar ul {
    list-style: none;
}

.navbar {
    display: none;
}

.navbar-link {
    margin: 10px 20px;
    text-decoration: none;
    color: black;
}

/* Section in Index page starts here */


img {
    object-fit: cover;
    max-width: 100%;
}

/* Outwear Section */

.index-big-section {

    display: flex;
    flex-direction: column;
    align-items: center;


    /* overflow: hidden;  */

    margin-bottom: 40px;
}

.index-big-section-image {
    height: 28vh;
    max-width: 1400px;
}

.index-big-section-image>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-big-section-heading {
    padding: 24px 0 24px 0;
    font-size: 17px;
}

.index-big-section-button {
    background-color: white;
    padding: 8px 44px 8px 44px;
}


/* T-Shirt Section */

.index-t-shirt-section-holder {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-self: center;
    /* border: 2px solid black ; */
}



.index-t-shirt-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    justify-content: center;
    align-items: center;
}


.index-t-shirt-section-image {
    height: 28vh;
    max-width: 590px;
}


.index-t-shirt-section-image>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.index-t-shirt-section-heading {
    padding: 24px 0 24px 0;
    font-size: 17px;
}

.index-t-shirt-section-button {
    background-color: white;
    padding: 8px 44px 8px 44px;
}

.author-footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.creater-link {
    margin: 10px;
}

/* Product Listing page */

.page-topic-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6vh;
}

.listing-page-banner {
    display: none;
    justify-content: center;
    align-content: center;
    margin-bottom: 4vh;
}   
/*  */
.main-grid-holder{
    display: flex;
    align-items: center ;
    justify-content: center ;
}
/*  */

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    place-items: center;

    max-width: 1440px  ;
    width: 100% ;
}

.main-grid >a {
    display: block;
    text-decoration: none;
    color: black;
    width: 90%;
}

.grid-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    margin-bottom: 5vh;
}

.grid-items > img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.item-name {
    margin-top: 1vh;
    font-size: small;
    font-weight: bolder;
    text-align: center;
    font-family: var(--default-font-family);
}

/* Single Product Page */

.single-item-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    /* border: 1px solid black; */
}

.single-item-image-holder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80% ;
    max-width: 600px ;
}

.single-item-image-holder > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-item-details {
    display: flex;
    flex-direction: column;
    padding: 0vw 24px 0px 24px;
    margin: 32px 0 32px 0 ;

    max-width: min( 400px ,100% ) ;
}

.description-heading{
    margin: 16px 0px 16px 0 ;
}

.dropdown-div{
    border-bottom: 1px solid gray ;
    position: relative;
}

.dropdown-div label{
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.dropdown{
    padding: 1rem 4rem;
    border: none;
    width: 100% ;
    background-color: white;
}

.dropdown  option {
    padding-left: 50px ;
}

.description-list{
    padding-left: 40px ;
    margin: 13px 0 13px 0 ;
}


.add-to-cart-button {
   display: none  ;
   width: 40% ;
   margin: 3vh 0 2vh 0 ;
   background-color: white;
   height: 3vh ;
}

/* Cart Page Styles */

.cart-main-container{
    display: flex;
    justify-content: center ;
    padding: 0  24px ;
}

.cart-item-container-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px ;
    width: 80% ;
    gap: 2vh ; 

}

.cart-item-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2vh ;
}

.cart-item-image{
    height: 72px ;
    width: 72px ;
}

.cart-item-details{
    display: flex;
    flex-direction: column ;
    width: 100% ;
    justify-content: space-between;
}

.cart-item-name-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5vh ;
}

.cart-item-specs{
    display: flex;
    justify-content: flex-end;
    gap: 10px ;
    
}

.cart-item-specs-item{
    padding: 0vw 4vw 2vw 4vw ;
}

.cart-item-remove-button-desktop{
    display: none;
}

.quantity{
    border: none;
    background-color: white ;
}

.cart-summary-container{
    display: flex ;
    align-self: flex-end;
}

.cart-summary-container > a button {
    display: none;
}

/* Check-out page Styles */

.checkout-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px ;
}



.left-container {
    /* border: 1px solid yellow ; */
    margin: 10px;
}

.right-container {
    /* border: 1px solid blue ; */
    margin: 10px;
}


.input-container {
    position: relative;
    padding: 2.5vh 0 ;
}


.input-container label {
    position: absolute;
    top: 15px;
    left: 5px;
    color: gray;

    transition: 0.2s;
}

.input-container input {
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.state-zip-container {
    display: flex;
    justify-content: space-between;
}


.sub-headings{
    font-size: 2vh ;
    padding: 2vh 0 ;
}

.checkout-dropdown{
    /* padding: 1rem 4rem; */
    border: none;
    width: 100% ;
    background-color: white;
    border-bottom: 1px solid gray;

    flex-grow : 1 ;
}

/* Input animation in check-out */
   /* padding: 10px 20px 30px 40px ; */
.input-container input:focus {
    border-bottom: 2px solid navy;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {

    top: -10px;
    color: grey;

}


.card-expiry-details {
    display: flex;
    gap: 2rem ;
}

.card-expiry-details > div {
    flex-basis: 33% ;
    flex-grow: 1 ;
}


.order-summary {
    display: flex;
    flex-direction: column;
}

.summary-item-list {
    display: flex;
    flex-direction: column;
}

.summary-item {
    display: flex;
    justify-content: space-between;
}

#hide{
    display: none;
}

#diff-addr:checked ~ #hide{
    display: block;
    
}

.summary-total {
    display: flex;
    justify-content: space-around;
}

.footer {
    position: fixed;
    bottom: 0px;
    background-color: purple;
    width: 100%;
    text-align: center;
    height: 8vh;
    justify-content: center;
}




@media (min-width : 800px) {

    .side-bar-icon {
        visibility: hidden;
    }


    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 10px;
        margin-bottom: 10px;
    }

    .listing-page-banner {
        display: flex;
    }

    .main-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .single-item-section {
        display: flex;
        flex-direction: row ; 
    }


    .single-item-image-holder {
        align-self: flex-start ;
    }

    .add-to-cart-button{
        display: block;
    }




    /*  */

    .cart-summary-container > a button {
        display: block;
    }



    .check-out-button button{
        display: block;
    }
    

    .checkout-main-container{
        flex-direction: row ;
    } 

    .footer{
        display: none ;
    }

    

}





@media (min-width : 1200px) {


}

