body{
    margin: 0px;
    padding: 0px;
}

 .container{
    display: flex;
    justify-content: space-between;
 }

.items{
    width: 100px;
    height: 100px;
    background-color: black;
    color: #fff;
}

.group2{
    display: flex;
    margin-left:auto; 
    gap: 20px;

}